.text {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 10%;
  padding: 1.25rem;
}

.bg-navbar {
  background-color: #EBF5F7;
}
.about {
  background-color: #E6E9DF;
}

.skill {
  background-color: #F2F5EB;
}

.portfolio {
  background-color: #E6E9DF;
}

.contact {
  background-color: #F2F5EB;
}



.card-header {
  height: 50px;
  background-color: #ffffff;
}

.bg-production {
  background-color: #FF9900;
}

.bg-document {
  background-color: #DD5144
}

.fa.fa-twitter{
  font-size: 30px;
}

.btn.btn-outline-success {
  border: 3px solid #21BDDB;
  color: #21BDDB;
}

.bg-wantedly {
  border: 1px solid #21BDDB; 
}

.fa.fa-github.pt-1{
  font-size: 30px;
}
