.modal{
  border: 1px solid gray;
  max-width: 50%;
  max-height: 50%;
  font-size: large;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
  background-color: #e9dfe5;
  position:fixed;
  top: 40%;
  left: 25%;
}

/* Header */
.modal-header{
  height: 5%;
  border-bottom: 0.5px solid #c0c0c0;
  padding-left: 10px;
}

/* Body */
.modal-body{
  height: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.modal-body__icon{
  padding-left: 25px;
  width: 15%;
}

.icon_size{
  font-size: 3em;
  color: red;
}

.modal-body__content{
  width: 85%;
}

/* Footer */
.modal-footer{
  border-top: 0.5px solid #c0c0c0;
  text-align: end;
}

.modal-footer__close{
  margin-top: 3px;
  margin-right: 10px;
  margin-bottom: 3px;
}